<footer>
  <div class="container">
    <p>
      <a href="{% if site.active_lang == site.default_lang %}/{% else %}/{{ site.active_lang }}/{% endif %}">{% t nav.home %}</a>
      · <a href="{% if site.active_lang == site.default_lang %}/about/{% else %}/{{ site.active_lang }}/about/{% endif %}">{% t nav.about %}</a>
      · <a href="https://docs.cue2.live">{% t nav.documentation %}</a>
      · <a href="https://github.com/Tech-mop/Cue2">{% t nav.github %}</a>
    </p>
    <p>{% t footer.copyright_before %} <a href="https://github.com/Tech-mop/Cue2.Live-Website">GitHub</a>{% t footer.copyright_after %}</p>
  </div>
</footer>
